

@font-face{
    font-family: 'sofia';
    src: url("font/sofia-Regular.otf");
}
text{
    text-align: left;
    font-size: larger;
    color: white;
    padding-bottom: 40px;
    font-family: 'sofoa';
    font-weight: 500;
}
.profile{
    float: right;
    height: 1039;
    width: 45%;
    padding-top: 49px;
    padding-left: 35px;
    font-size: 24px;
    color: white;
    font-family: 'sofia';
}
.pic{
    background-image: url("background/IMG_0362-03.jpeg");
    height: 40%;
    width: 70%;
    background-size: 100%;
    border-radius: 20px;
    box-shadow: 8px 8px 5px rgb(255, 255, 255);

}


.image{
    height: 60px;
    width: 75px;
}
.extra{

    padding-left: 30px;
}


.about{
    text-align: left;
    margin-top: 2%;

    font-size: larger;
    color: cyan;
}
body{
    background-image: url("background/low-anglw-view-of-man-standing-at-night-31668.jpg");
    background-position: center;
}
@keyframes cube {
    from {left: 0px;}
    to {left: 200px;}
}
.name {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: cube;
    animation-duration: 5s;
    animation-delay: 1s;
    
}